
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ksasha Academy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar bg-dark navbar-dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Navbar</span>
      </div>
    </nav>
    <h1 class="text-center text-success">welcome Ksasha Academy!</h1>
    <div class="container-fluid"><form class="row g-3">
        <div class="col-md-6">
            <div class="col-12">
                
          <label for="inputEmail4" class="form-label">name</label>
          <input name="name" type="text" class="form-control" id="">
        </div>
        <label for="inputEmail4" class="form-label">username</label>
        <input name="username" type="text" class="form-control" id="">
      </div>
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input  name="password" type="password" class="form-control" id="inputPassword4">
        </div>

        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Confirm Password</label>
            <input name="confirm_password" type="password" class="form-control" id="inputPassword4">
          </div>
        
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Reg no</label>
        <input name="Reg_no" type="varchar" class="form-control" id="">
          </div>
          
        <div class="col-12">
          <button type="submit" class="btn btn-primary">REGISTER</button>
        </div>
      </form>

      <div class="form-group">
        {% for message in message%}
        <div class="alert alert-danger" role="alert">
             {{message}}
        </div>
        {% endfor %}
      </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>





